@import "var.less";
@import "1header.less";
@import "2slider.less";
@import "3section_blocks.less";
@import "4section_works.less";
@import "5section_footer.less";
@import "6media_requests.less";

body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'RobotoCondensed', sans-serif;
  max-width: 1600px;
  margin: auto;
  .flex(flex,column,center,center);
}
main{
  display: flex;
  flex-direction: column;
  width: 1170px;
  align-items: center;
}
hr{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}
// NAV RESPONSIVE //

nav.responsive{
  width: 100%;
  display: none;
  height: 50px;
  background: #555555;
  padding: 20px;
  a:first-child{
    opacity: 0;
  }
  a:nth-child(2){
    color: #fff;
  }
}

// SECTION QUOTE START //
section.quote{
  .flex(flex,column,space-around,center);
  background-color:  rgba(0, 0, 0, 0.03);
  height: 230px;
  width: 100%;
  h1:first-child{
    padding-top: 50px;
    .text(Arial Rounded MT Bold,#dcdcdc,100px,400,35px,center,none);
  }
  h1:nth-child(2){
    padding-bottom: 50px;
    width: 70%;
    .text(Roboto Slab,#a1a1a1,20px,400,30px,center,none);
  }
}
// SECTION QUOTE END //